body {
	color:#fff;
	font:300 15px/15px Roboto,Arial,Helvetica;
	background:url(../images/bg.jpg) right no-repeat fixed #fff;
	background-size: cover;
	-webkit-font-smoothing:antialiased;
}

a{
	color:#00a9c6;
	text-decoration:none;
}
a:hover{
	color:#666;
}
.btn,a,.btn:hover,a:hover {
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
outline: none !important;
}

h1,h2,h3,h4{
	margin: 0;
	line-height: 1em;
}
h2{
	font:300 2.5em Josefin Sans,Arial,Helvetica;
	margin-bottom: 1.5em;
}
h3{
	font:300 2em Roboto,Arial,Helvetica;
}
h4{
	font:300 1.5em Roboto,Arial,Helvetica;
	margin-bottom: 1em;
}
h4 i{
	margin-right: 0.5em;
}

p{
	font-size:1em;
	line-height: 1.7em;
	margin-bottom: 1.7em;
}

.spacer{
	padding: 2em 0;
}

.btn{
	border:none;
	border-radius: 0;
	padding: 1em 7.25em;
	background:rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-size:17px;
}
.btn:hover,.btn:active{
	color: #fff;
}
.btn-default{
	color: #ccc;
	border: 1px solid #aaa;
}
.btn-default:hover,.btn-default:active{
	background: rgba(0,0,0,0.8);
	display:inline-block;
}
.btn-primary{
	color: #fff;
	background:#666;
	width: 100%;
	outline: none;
	display: inline-block;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
	background:#333;
	box-shadow: none;
}



#head,.carousel{
	margin-top: 0;
}


/*banner*/
.banner{
	position: relative;
}
.banner .caption{
	position: absolute;
	top: 0;left:0; right: 0;
	bottom: 0;
}
.banner .caption-wrapper{
	display: table;
	height: 100%;
	width: 100%;
}
.banner .caption-info{
	text-align: left;
	width:45%;
	padding-left:5%;
	padding-top:22.5%;
	color: #fff;
}
.banner .caption-info h1{
	font:normal 4.45em Josefin Sans,Arial,Helvetica;
	text-transform:uppercase;
}
.banner .caption-info p{
	font: 1.4em Josefin Sans,Arial,Helvetica;
	line-height: 30px;
}
.banner a.explore{
	color: #fff;
}
.banner img.profile{
	border:5px solid #333;
}
.connect-icon{
	text-align: center;
}
.connect-icon a{
	position:center;
	margin-left: 10px;
}
.connect-icon a:hover{
	opacity: 0.5;
	transition: all 0.5s ease;
}


/*foods*/
#works figcaption a{
	border:1px solid #fff;
	margin-top: 1em;
	display: inline-block;
	color: #fff;
	padding: 0 2em;
}
#works figcaption a:hover{
	text-decoration: none;
	padding: 0 3em;
}
/*foods*/

/*testimonials*/
.testimonails{
	min-height: 195px;
}
.testimonails img{
	margin-top: 5px;
}
.testimonails span{
	color: #888;
}
.testimonails span b{
	font-weight: 400;
}
.carousel-indicators li{
	border: 1px solid #ccc;
}
.carousel-indicators{
	bottom: 0;
}

/*contact*/
.contact-form input,.contact-form textarea{
	margin-bottom: 15px;
	font-size: 18px;
	height: auto;
	padding: 15px;
	font-weight: 300;
	border-radius: 0;
}
.contact-form input.btn{
	width: 100%;
	background-color: #333;
	color: #fff;
	font-size: 23px;
	border: none;
}
.contact1{
	text-align:center;
	font:300 2.5em Josefin Sans,Arial,Helvetica
}

/*contact*/

.footer{
	background-color: #111;
	color: #fff;
	font-size: 1em;
	color: #aaa;
}
.footer a{
	color: #aaa;
	margin: 0 1em;
}

.gototop{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0,0,0,0.5);
	padding: 10px;
	color: #fff;
}
.gototop i{
	line-height: 0.5em;
}


@media (max-width: 1200px) {
	body{
		font:300 13px/13px Roboto,Arial,Helvetica;
	}
	
	.grid figure h2{
		font: 700 1.5em Roboto,Arial,Helvetica;
	}
	figure.effect-oscar figcaption{
		padding: 12%;
	}
	figure.effect-oscar figcaption::before,figure.effect-chico figcaption::before{
		top: 20px;
		right: 20px;
		bottom: 20px;
		left: 20px;
	}

}
@media(max-width: 1918px){

	.btn{
		padding: 1em 7em;
	}
}
@media(max-width: 1877px){

	.btn{
		padding: 1em 5.7em;
	}
}
@media(max-width: 1646px){

	.btn{
		padding: 1em 4.7em;
	}
}
@media(max-width: 1473px){

	.btn{
		padding: 1em 3.7em;
	}
}
@media(max-width: 1386px){
	.banner .caption-info p{
		display: none;
	}
}
@media(max-width: 1291px){
	.btn{
		padding: 1em 3em;
	}
	.banner .caption-info h1{
		font: normal 4em Josefin Sans,Arial,Helvetica;
	}
}
@media(max-width: 1200px){
	.btn{
		padding: 1em 2.5em;
	}
}
@media(max-width: 1078px){
	.btn{
		padding: 1em 1em;
	}
	.banner .caption-info h1{
		font: normal 3.2em Josefin Sans,Arial,Helvetica;
	}
}
@media(max-width: 901px){
	.btn{
		display:none;
	}
	.banner .caption-info h1{
		font: normal 1.8em Josefin Sans,Arial,Helvetica;
		padding-top: 30%;
	}
	.banner .caption-info{
		width: 35%;
	}
}
@media (max-width: 900px) {
	h1{
		font: 700 3.5em Roboto,Arial,Helvetica;
	}
	h4 {
		font: 300 1.3em Roboto,Arial,Helvetica;
	}
	.btn{
		padding: 1em 2em;
	}
	figure.effect-chico figcaption {
		padding: 2em;
	}	
	figure.effect-oscar figcaption {
		padding: 20%;
	}
	figure.effect-chico figcaption::before{
		top: 10px;
		right: 10px;
		bottom: 10px;
		left: 10px;
	}
	.grid figure.effect-chico p{
		font-size: 0.6em;
		line-height: 1.5em;
	}	
}

@media (max-width: 767px) {
	body{
		font:300 12px/12px Roboto,Arial,Helvetica;
	}

	.banner .caption,.carousel-caption,.carousel-control,.carousel-indicators{
		display: none;
	}

	h2.text-center{
		text-align: left;
		font-size: 1.7em;
	}
	h4 {
		font: 300 1.2em Roboto,Arial,Helvetica;
	}
		.spacer{
		padding:2em 0 ;
	}
	.grid.team div{
		margin: 0;
		padding: 0;
	}
	figure.effect-chico figcaption {
		padding: 1.5em;
	}
	.footer{
		padding-bottom: 2em;
	}
}